<footer class="footer">
  <section class="footer-panel bg--chocolate text--white">
    <div class="container">
      <div class="footer-panel__top__item">
        {{ footerPanelFrist }}
      </div>
      <div class="footer-panel__top__item">
        {{ footerPanelSecond }}
      </div>
      <div class="footer-panel__top__item">
        {{ footerPanelThird }}
      </div>
      <div class="footer-panel__top__item">
        {{ footerPanelLast }}
      </div>
    </div>
  </section>

  <section class="footer-global bg--cardinal-red text--white">
    <div class="container">
      <div class="footer-global__inner">
        {{ footer }}
      </div>
    </div>
  </section>
</footer>
