
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../js/lib/jquery.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/chosen.jquery.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/enquire.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/media.match.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/modernizr.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/slick.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/lib/jquery.matchHeight-min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/chosen.init.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/scripts.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/styleguide.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/tabs.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/module.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
