<div class="block-inspired">
  <div class="container">
    <h2 class="section-title text-white no-margin">{{ elements.field_videos_header }}</h2>
    <h3 class="section-description text-white">{{ elements.field_videos_description }}</h3>
    <div class="grid-video--3-video">
      <div class="grid-video--3-video__large">
        <div class="vidyard-video">
          {{ elements.field_video_1 }}
        </div>
      </div>
      <div class="grid-video--3-video__small">
        <div class="vidyard-video">
          {{ elements.field_video_2 }}
        </div>
      </div>
      <div class="grid-video--3-video__small">
        <div class="vidyard-video">
          {{ elements.field_video_3 }}
        </div>
      </div>
    </div>
  </div>
</div>
