<div class="block-card-4__item bg--light bg--light-white">
  <div class="block-card-4__image">
    {{ card4Item.image }}
  </div>
  <div class="block-card-4__name">{{ card4Item.name }}</div>
  <div class="block-card-4__job">{{ card4Item.job }}</div>
  <div class="block-card-4__location">{{ card4Item.location }}</div>
  <div class="block-card-4__description">{{ card4Item.description }}</div>
  <div class="block-card-4__links">{{ card4Item.links }}</div>
</div>
