{# Block Description #}

{% block description %}
  <div class="block-description {{ blockDescription.class }}">
    <div class="container">
      <div class="block-description__image">
        {{ blockDescription.image }}
      </div>
      <div class="block-description__content">
        <div class="block-description__content__text">
          <p>{{ blockDescription.body }}</p>
        </div>
        <div class="block-product-icon--type-1">
          {% for item in blockDescription.icons %}
            <a href="#" class="block-product-icon__item">
              <i class="block-product-icon__item__icon {{item.icon}}"></i>
              <h3 class="block-product-icon__item__title">{{item.text}}</h3>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
