<div class="block-event__content block-event__content--careers-item">
<h2 class="block-event__content__title"><a target="_blank" href="{{ content.field_job_apply_now_url['#items'].getValue()|first.uri }}">{{ node.getTitle }}</a></h2>
<span class="block-event__content__location">{{ content.field_job_location[0].locality['#value'] }}, {{ content.field_job_location[0].administrative_area }} {{ content.field_job_location[0].country }}</span>
</div>
<p>&nbsp;</p>