<div class="box-social box-social--twitter">
  <a href="{{ content.field_url.url }}" class="box-social__link-main"></a>
  <span class="box-social__date">{{ content.field_date }}</span>
  <div class="box-social__body">
    <p>{{ content.title }}</p>
  </div>
  <a class="box-social__link" href="{{ content.field_url.url_title }}">{{ content.field_url.url }}</a>
</div>
