<div class="box-content{% if content.field_image.items is not empty %} box-content--has-image{% else %} content-center{% endif %} {{ content.title_class }}">
  <a href="{{ content.field_url.url }}" class="box-content__link"></a>
  {% if content.field_image.items is not empty %}
    <div class="box-content__image">
      {{ content.field_image }}
    </div>
  {% endif %}
  <div class="box-content__group{% if content.field_image.items is empty %} bg-gray{% endif %}">
    <h2 class="box-content__title-link"><a href="{{ content.field_url.url_title }}">{{ content.title }}</a></h2>
  </div>
</div>
