{% block blockGridMediaSlideSmall %}
<div class="block-stream block-stream--media-small">
  <h2 class="section-title no-margin-bottom">Equine Stories</h2>
  <h2 class="section-description">Explore our events, staff, reports and social activity.</h2>
  <div class="block-stream__carousel js-block-stream__carousel">
      {# Carousel item 1 #}
      <div>
        <div class="box-grid box-grid--media-small box-grid--small-type-1">
          <div class="box-grid__item box-grid__two-by-two">
            <div class="box-content box-content--has-image">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__image">
                <img src="{{img_path}}images-pages/block-stream-small1.jpg" width="510" height="510" alt="block-stream">
              </div>
              <div class="box-content__group">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories red"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Carousel item 2 #}
      <div>
        <div class="box-grid box-grid--media-small box-grid--small-type-2">
          <div class="box-grid__item box-grid__one-by-two">
            <div class="box-content box-content--has-image title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__image">
                <img src="{{img_path}}images-pages/block-stream-small2.jpg" width="250" height="508" alt="block-stream">
              </div>
              <div class="box-content__group">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories green"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-content content-center title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__group bg-gray">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-social box-social--facebook">
              <a href="#" class="box-social__link-main"></a>
              <span class="box-social__date">Sept, 10, 2015</span>
              <div class="box-social__body">
              <p>Happy black cat day to all the black cats out there - a day dedicated to celebrating...</p>
              </div>
              <a class="box-social__link" href="#">https://t.co/F412da4GF5</a>
            </div>
          </div>
        </div>
      </div>
      {# Carousel item 3 #}
      <div>
        <div class="box-grid box-grid--media-small box-grid--small-type-3">
          <div class="box-grid__item box-grid__two-by-one">
            <div class="box-content box-content--has-image title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__image">
                <img src="{{img_path}}images-pages/block-stream-small6.jpg" width="504" height="252" alt="block-stream">
              </div>
              <div class="box-content__group">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories green"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-content content-center title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__group bg-green">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories yellow"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-social box-social--facebook">
              <a href="#" class="box-social__link-main"></a>
              <span class="box-social__date">Sept, 10, 2015</span>
              <div class="box-social__body">
              <p>Happy black cat day to all the black cats out there - a day dedicated to celebrating...</p>
              </div>
              <a class="box-social__link" href="#">https://t.co/F412da4GF5</a>
            </div>
          </div>
        </div>
      </div>
      {# Carousel item 4 #}
      <div>
        <div class="box-grid box-grid--media-small box-grid--small-type-2">
          <div class="box-grid__item box-grid__one-by-two right">
            <div class="box-content box-content--has-image title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__image">
                <img src="{{img_path}}images-pages/block-stream-small3.jpg" width="250" height="508" alt="block-stream">
              </div>
              <div class="box-content__group">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories green"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-social box-social--twitter">
              <a href="#" class="box-social__link-main"></a>
              <span class="box-social__date">Sept, 10, 2015</span>
              <div class="box-social__body">
              <p>Happy black cat day to all the black cats out there - a day dedicated to celebrating...</p>
              </div>
              <a class="box-social__link" href="#">https://t.co/F412da4GF5</a>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-content content-center title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__group bg-blue">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories yellow"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Carousel item 5 #}
      <div>
        <div class="box-grid box-grid--media-small box-grid--small-type-4">
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-content content-center title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__group bg-green">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories yellow"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
          <div class="box-grid__item box-grid__one-by-one">
            <div class="box-social box-social--facebook">
              <a href="#" class="box-social__link-main"></a>
              <span class="box-social__date">Sept, 10, 2015</span>
              <div class="box-social__body">
              <p>Happy black cat day to all the black cats out there - a day dedicated to celebrating...</p>
              </div>
              <a class="box-social__link" href="#">https://t.co/F412da4GF5</a>
            </div>
          </div>
          <div class="box-grid__item box-grid__two-by-one">
            <div class="box-content box-content--has-image title-link-small">
              <a href="#" class="box-content__link"></a>
              <div class="box-content__image">
                <img src="{{img_path}}images-pages/block-stream-small6.jpg" width="504" height="252" alt="block-stream">
              </div>
              <div class="box-content__group">
                <span class="box-content__date">Sept, 10, 2015</span>
                <div class="box-content__categories green"><a href="#">Press Release</a></div>
                <h2 class="box-content__title-link"><a href="#">Abaxis, Inc, to Present at the Morgan Stanley Global Healtheare Conference</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
