<div class="block-card-10__item">
  <div class="block-card-10__date">{{ card10Item.date }}</div>
  <h2 class="block-card-10__title">{{ card10Item.title }}</h2>
  <div class="block-card-10__image">
    {{ card10Item.image }}
  </div>
  <div class="block-card-10__description">{{ card10Item.description }}</div>
  <div class="block-card-10__links">
    {{ card10Item.links }}
  </div>
</div>
