{% block blockTheatInsight %}
<div class="bg--light-tan">
  <div class="block-threat-insight">
    <div class="container">
      <h3 class="section-title no-margin">Threat insight</h3>
      <p class="section-sub-title list-in-article">Cybersecurity research and commentary on malware, user actions, and other threats to information security</p>
      <div class="block-threat-insight__group">
        <div class="block-threat-insight__left">
          <div class="block-threat-insight__image">
            <a href="#">
              <picture>
                <source
                  media="{{ desktop_wide }}"
                  srcset="https://unsplash.it/820/348 1x">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/786/326 1x">
                <source
                  media="{{ mobile_landscape }}"
                  srcset="https://unsplash.it/768/360 1x">
                <source
                  media="{{ mobile }}"
                  srcset="https://unsplash.it/480/225 1x">
                <img
                  src="https://unsplash.it/768/360"
                  alt="ppoint image">
              </picture>
            </a>
          </div>
          <date class="block-threat-insight__date short-date">FEBRUARY 4, 2016</date>
          <div class="block-threat-insight__content">
            <h3 class="big-title"><a href="#">Maecenas Eget Neque Vehicula Imperdiet Nulla Ve</a></h3>
            <div class="block-threat-insight__extra short-extra">
              <span class="short-extra__item">
                <span class="short-extra__author">Author Name</span>
              </span>
              <span class="short-extra__item">
                <a class="short-extra__share" href="#">Share</a>
              </span>
            </div>
            <div class="block-threat-insight__body list-in-article"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p></div>
          </div>
        </div>
        <div class="block-threat-insight__right">
          <div class="block-threat-insight__right__top">
            <date class="block-threat-insight__date short-date">FEBRUARY 4, 2016</date>
            <h3 class="big-title"><a href="#">Maecenas Eget Neque Vehicula Imperdiet Nulla Ve</a></h3>
            <div class="block-threat-insight__extra short-extra">
              <span class="short-extra__item">
                <span class="short-extra__author">Author Name</span>
              </span>
              <span class="short-extra__item">
                <a class="short-extra__share" href="#">Share</a>
              </span>
            </div>
            <div class="block-threat-insight__body list-in-article"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p></div>
          </div>
          <div class="block-threat-insight__right__bottom">
           <a class="btn" href="#">Visit theat insight blog</a>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg--blue">
  <div class="block-threat-insight bg--blue">
    <div class="container">
      <h3 class="section-title no-margin">Threat insight</h3>
      <p class="section-sub-title list-in-article">Cybersecurity research and commentary on malware, user actions, and other threats to information security</p>
      <div class="block-threat-insight__group">
        <div class="block-threat-insight__left">
          <div class="block-threat-insight__image">
            <a href="#">
              <picture>
                <source
                  media="{{ desktop_wide }}"
                  srcset="https://unsplash.it/820/348 1x">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/786/326 1x">
                <source
                  media="{{ mobile_landscape }}"
                  srcset="https://unsplash.it/768/360 1x">
                <source
                  media="{{ mobile }}"
                  srcset="https://unsplash.it/480/225 1x">
                <img
                  src="https://unsplash.it/768/360"
                  alt="ppoint image">
              </picture>
            </a>
          </div>
          <date class="block-threat-insight__date short-date">FEBRUARY 4, 2016</date>
          <div class="block-threat-insight__content">
            <h3 class="big-title"><a href="#">Maecenas Eget Neque Vehicula Imperdiet Nulla Ve</a></h3>
            <div class="block-threat-insight__extra short-extra">
              <span class="short-extra__item">
                <span class="short-extra__author">Author Name</span>
              </span>
              <span class="short-extra__item">
                <a class="short-extra__share" href="#">Share</a>
              </span>
            </div>
            <div class="block-threat-insight__body list-in-article"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p></div>
          </div>
        </div>
        <div class="block-threat-insight__right">
          <div class="block-threat-insight__right__top">
            <date class="block-threat-insight__date short-date">FEBRUARY 4, 2016</date>
            <h3 class="big-title"><a href="#">Maecenas Eget Neque Vehicula Imperdiet Nulla Ve</a></h3>
            <div class="block-threat-insight__extra short-extra">
              <span class="short-extra__item">
                <span class="short-extra__author">Author Name</span>
              </span>
              <span class="short-extra__item">
                <a class="short-extra__share" href="#">Share</a>
              </span>
            </div>
            <div class="block-threat-insight__body list-in-article"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p></div>
          </div>
          <div class="block-threat-insight__right__bottom">
           <a class="btn" href="#">Visit theat insight blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
