{% set boxService = {
'classmodify' : 'icon-carousel'
}
%}

{% set icons =  [
  {
  'icon' : 'icon-linkedin',
  'smalltitle' : 'resource',
  'href' : '#',
  'text' : 'Quisque Tempor Arcu Ac Rutrum Viverra'
  },
  {
  'icon' : 'icon-twitter',
  'smalltitle' : 'USER GROUP',
  'href' : '#',
  'text' : 'Nam Id Velit Et Leo Feugiat Egestas'
  },
  {
  'icon' : 'icon-envelope',
  'smalltitle' : 'COMMUNITY',
  'href' : '#',
  'text' : 'Aliquam Rutrum Condimentum Tortor'
  },
  {
  'icon' : 'icon-bullhorn-ppoint',
  'smalltitle' : 'CASE STUDY',
  'href' : '#',
  'text' : 'Integer A Pellentesque Odio Vestibulum'
  },
  {
  'icon' : 'icon-linkedin',
  'smalltitle' : 'resource',
  'href' : '#',
  'text' : 'Quisque Tempor Arcu Ac Rutrum Viverra'
  },
  {
  'icon' : 'icon-twitter',
  'smalltitle' : 'USER GROUP',
  'href' : '#',
  'text' : 'Nam Id Velit Et Leo Feugiat Egestas'
  },
  {
  'icon' : 'icon-google-plus',
  'smalltitle' : 'COMMUNITY',
  'href' : '#',
  'text' : 'Aliquam Rutrum Condimentum Tortor'
  },
  {
  'icon' : 'icon-bullhorn-ppoint',
  'smalltitle' : 'CASE STUDY',
  'href' : '#',
  'text' : 'Integer A Pellentesque Odio Vestibulum'
  }
]
%}
{% block boxService %}
  <div class="box-service {{ boxService.classmodify }}">
    <div class="container">
    <div class="js-icon-carousel">
      {% for item in icons %}
        <a class="box-service__item" href="{{ item.href }}">
          <span class="{{ item.icon }} box-service__icon"></span>
          <h3 class="small-title">{{ item.smalltitle }}</h3>
          <span class="box-service__text">{{ item.text }}</span>
        </a>
      {% endfor %}
    </div>
    </div>
  </div>
{% endblock %}
