{% block mostRecent %}
<div class="sides-region container">
  <div class="right-side">
    <div class="most-recent">
      <h5>List for detail</h5>
      <div class="most-recent__content">
        <div class="most-recent__item">
          <div class="most-recent__image">
            <picture>
              <source
                media="{{ mobile }}"
                srcset="https://unsplash.it/75/75 1x">
              <img
                src="https://unsplash.it/768/360"
                alt="ppoint image">
            </picture>
          </div>
          <div class="most-recent__group">
            <date class="short-date">FEBRUARY 4, 2016</date>
            <div class="most-recent__link">
              <a class="link--gray" href="#">Necurs Botnet Returns With Updated Locky Ransomware In Tow</a>
            </div>
          </div>
        </div>
        <div class="most-recent__item">
          <div class="most-recent__image">
            <picture>
              <source
                media="{{ mobile }}"
                srcset="https://unsplash.it/75/75 1x">
              <img
                src="https://unsplash.it/768/360"
                alt="ppoint image">
            </picture>
          </div>
          <div class="most-recent__group">
            <date class="short-date">FEBRUARY 4, 2016</date>
            <div class="most-recent__link">
              <a class="link--gray" href="#">Necurs Botnet Returns With Updated Locky Ransomware In Tow</a>
            </div>
          </div>
        </div>
        <div class="most-recent__item">
          <div class="most-recent__image">
            <picture>
              <source
                media="{{ mobile }}"
                srcset="https://unsplash.it/75/75 1x">
              <img
                src="https://unsplash.it/768/360"
                alt="ppoint image">
            </picture>
          </div>
          <div class="most-recent__group">
            <date class="short-date">FEBRUARY 4, 2016</date>
            <div class="most-recent__link">
              <a class="link--gray" href="#">Necurs Botnet Returns With Updated Locky Ransomware In Tow</a>
            </div>
          </div>
        </div>
        <div class="most-recent__item">
          <div class="most-recent__image">
            <picture>
              <source
                media="{{ mobile }}"
                srcset="https://unsplash.it/75/75 1x">
              <img
                src="https://unsplash.it/768/360"
                alt="ppoint image">
            </picture>
          </div>
          <div class="most-recent__group">
            <date class="short-date">FEBRUARY 4, 2016</date>
            <div class="most-recent__link">
              <a class="link--gray" href="#">Necurs Botnet Returns With Updated Locky Ransomware In Tow</a>
            </div>
          </div>
        </div>
        <div class="most-recent__item">
          <div class="most-recent__image">
            <picture>
              <source
                media="{{ mobile }}"
                srcset="https://unsplash.it/75/75 1x">
              <img
                src="https://unsplash.it/768/360"
                alt="ppoint image">
            </picture>
          </div>
          <div class="most-recent__group">
            <date class="short-date">FEBRUARY 4, 2016</date>
            <div class="most-recent__link">
              <a class="link--gray" href="#">Necurs Botnet Returns With Updated Locky Ransomware In Tow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
