{% set results = [
  {
    'title' : 'Proofpoint: Leader in Advanced Cybersecurity Solutions',
    'body' : 'Proofpoint is a leading next-generation cybersecurity <span class="text--light">com</span>pany that protects the way people work today. Proofpoint provides <span class="text--light">com</span>prehensive cloud-based cyber ...',
    'href' : 'https://www.proofpoint.com/',
    'listTags' : [
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      }
    ]
  },
  {
    'title' : 'Threat Insight Blog',
    'body' : 'The Proofpoint Threat Insight blog provides you with advanced cyber security intelligence and insights, threat research, and breaking cyber attack news.',
    'href' : 'https://www.proofpoint.com/us/threat-insight',
    'listTags' : [
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      },
      {
        'textTags' : 'Transport & Trade'
      }
    ]
  },
  {
    'title' : 'Careers | Proofpoint',
    'body' : 'Join our team and help us develop, market and deliver innovative cloud-based cybersecurity solutions.',
    'href' : 'https://www.proofpoint.com/us/careers',
    'listTags' : [
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      },
      {
        'textTags' : 'Transport & Trade'
      },
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      },
      {
        'textTags' : 'Transport & Trade'
      }
    ]
  },
  {
    'title' : 'Targeted Attack Protection',
    'body' : 'Traditional cybersecurity is failing to detect and block phishing, malware, spear phishing and email fraud. Over 90% of targeted attacks start with email. Take a ...',
    'href' : 'https://www.proofpoint.com/us/products/targeted-attack-protection',
    'listTags' : [
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      },
      {
        'textTags' : 'Transport & Trade'
      }
    ]
  },
  {
    'title' : 'Email Protection',
    'body' : 'Next-generation email security solutions to help organizations protect against threats such as business email <span class="text--light">com</span>promise (BEC), CEO and email fraud, phishing ...',
    'href' : 'https://www.proofpoint.com/us/products/email-protection',
    'listTags' : [
      {
        'textTags' : 'Maersk Group'
      },
      {
        'textTags' : 'Markets'
      },
      {
        'textTags' : 'Transport & Trade'
      }
    ]
  }
] %}
{% block searchResults %}
  <div class="search-results">
    <div class="container">
      <div class="search-results__header">
        <div class="search-results__counter">About 14,300 results</div>
        <div class="search-results__time">0.35 seconds</div>
      </div>
      <div class="search-results__grid">
        {% for item in results %}
          <div class="search-results__item">
            <div class="search-results__image">
              <picture>
                <source
                  media="{{ mobile_landscape }}"
                  srcset="https://unsplash.it/246/160 1x">
                <img
                  src="https://unsplash.it/568/250"
                  alt="ppoint image">
              </picture>
            </div>
            <div class="search-results__inner">
              <div class="search-results__content">
                <div class="search-results__list__tags">
                  <ul class="search-results__tags">
                    {% for tag in item.listTags %}
                      <li class="search-results__tags__item"><a href="#">{{ tag.textTags }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <h4><a class="blue" href="#">{{ item.title }}</a></h4>
                <p>{{ item.body }}</p>
                <a href="{{ item.href }}"> {{ item.href }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
