{{ attach_library('abx_product/init_product_slider') }}
{{ attach_library('abx_testimonial/slick') }}
{% if elements.field_variations_header.0 is not empty or elements.field_variations_description.0 is not empty or pcs_view_mode is not empty %}
  <div class="block-rotors bg-blue-ea">
    <div class="container">
      <h2 class="section-title">{{ elements.field_variations_header }}</h2>
      <h3 class="section-description">{{ elements.field_variations_description }}</h3>
    </div>
    <div class="block-rotors__slides-wrap">
      <div class="block-rotors__slides js-block-rotors__slides slick-dots-colors">
        {% for item in pcs_view_mode %}
          {{ item }}
        {% endfor %}
      </div>
      {% if elements.field_pdf_chart.0 is not empty %}
        <div class="block-rotors__link">
          <a class="btn btn--medium btn--border-red" target="_blank" href="{{ elements.field_pdf_chart.0['#markup'] }}">{{ 'View on chart'|t }}</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
