<div class="block-product__logo">
  {{ elements.field_product_logo }}
</div>
<div class="block-product__body"><p>{{ elements.field_catalog_description }}</p></div>
<div class="block-product__image">
  {{ elements.field_product_image }}
</div>
<div class="block-product__link">
  <a class="btn btn--small btn--border-blue" href="{{ elements.url }}">{{ 'View Product'|t }}</a>
</div>
