<div class="grc-3__item">
  <div class="grc-3__image">{{ grc3Item.image }}</div>
  <div class="grc-3__content">
    <h5 class="grc-3__type">{{ grc3Item.type }}</h5>
    <h4 class="grc-3__title">{{ grc3Item.title }}</h4>
    <div class="grc-3__body">{{ grc3Item.body }}</div>
    <div class="grc-3__link">{{ grc3Item.link }}</div>
  </div>
</div>
