{% set bio3 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  }
]
%}

{% set bio4 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  }
]
%}

{% set bio5 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  }
]
%}

{% set bio6 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
]
%}

{% set bio7 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
]
%}

{% set bio8 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
]
%}

{% set bio9 = [
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
  {
    'name' : 'John S. Smith, DNSC',
    'job' : 'Director',
    'academic' : 'Professor of Generic Science',
    'description' : 'John S. Smith is professor of general science, director and senior fellow at the Freeman Spogli Institute. ',
    'quote' : '“Thoughts on Research, Design, News, and and other things”',
  },
]
%}

{% block blockBio %}
  <div class="distance-component block-bio col3">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 3</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p></div>
      <div class="block-bio__list">
        {% for item in bio3 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col4">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 4</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p></div>
      <div class="block-bio__list">
        {% for item in bio4 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col5">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 5</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p></div>
      <div class="block-bio__list">
        {% for item in bio5 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col6">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 6</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan </p></div>
      <div class="block-bio__list">
        {% for item in bio6 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col7">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 7</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan </p></div>
      <div class="block-bio__list">
        {% for item in bio7 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col8">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 8</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan </p></div>
      <div class="block-bio__list">
        {% for item in bio8 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
  <div class="distance-component block-bio col9">
    <div class="container">
      <h2 class="block-bio__title font--biggest">Featured Experts 9</h2>
      <div class="block-bio__body"><p>FSI experts raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan </p></div>
      <div class="block-bio__list">
        {% for item in bio9 %}
          <div class="block-bio__item">
            <div class="block-bio__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/138/138?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/115/115?random">
                <img
                  src="https://unsplash.it/82/82?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="block-bio__content">
              <h3 class="block-bio__name">{{ item.name }}</h3>
              <div class="block-bio__job">{{ item.job }}</div>
              <span class="block-bio__academic">{{ item.academic }}</span>
              <div class="block-bio__description"><p>{{ item.description }}<span class="block-bio__quote">{{ item.quote }}</span></p></div>
              <div class="block-bio__links">
                <a class="block-bio__links__item link--charade" href="#">Read More</a>
                <a class="block-bio__links__item link--charade" href="#">Full Bio</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="block-bio__link btn--responsive">
        <a class="btn" href="#">See All Publications</a>
      </div>
    </div>
  </div>
{% endblock %}
