
{% block blockGridMosaic %}
  <div class="block-mosaic__carousel js-block-mosaic__carousel">
    <div>
      <div class="box-grid">
        <div class="box-grid__item box-grid__two-by-two">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/287?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--news">News</div>
              <h3 class="box-grid__title"><a href="#">Is Russia interfering in the U.S. election?</a></h3>
              <div class="box-grid__body">
                <p>What we need to know about the economics of climate change</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-grid__item box-grid__two-by-two extend-box">
          <div class="box-grid__item__inner bg--cardinal">
            <div class="extend-box__group">
              <a class="extend-box__link" href="#"></a>
              <h3 class="extend-box__title">Legacy of Sidney Drell</h3>
              <div class="extend-box__body">
                <p>Is Russia interfering in the U.S. election?</p>
              </div>
              <span class="extend-box__icon icon-bell"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-grid">
        <div class="box-grid__item box-grid__two-by-two extend-box">
          <div class="box-grid__item__inner bg--blue">
            <div class="extend-box__group">
              <a class="extend-box__link" href="#"></a>
              <h3 class="extend-box__title">Collaborating on biotech policy</h3>
              <div class="extend-box__body">
                <p>Research is important for fsi Dapobus, neque id cursus faucibus</p>
              </div>
              <span class="extend-box__icon icon-globe"></span>
            </div>
          </div>
        </div>
        <div class="box-grid__item box-grid__two-by-two">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/287?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--news">News</div>
              <h3 class="box-grid__title"><a href="#">Is Russia interfering in the U.S. election?</a></h3>
              <div class="box-grid__body">
                <p>What we need to know about the economics of climate change</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-grid">
        <div class="box-grid__item box-grid__one-by-small">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/574?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/200/400?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
            </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--research">Research</div>
              <h3 class="box-grid__title"><a href="#">What we need to know about the economics of climate change</a></h3>
              <div class="box-grid__body">
                <p>When Barack Obama became the first sitting U.S</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-grid__item box-grid__one-by-large">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/568/574?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/400/400?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--event">Event</div>
              <h3 class="box-grid__title"><a href="#">When Barack Obama became the first sitting U.S</a></h3>
              <div class="box-grid__body">
                <p>What we need to know about the economics of climate change</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-grid">
        <div class="box-grid__item box-grid__two-by-two">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/287?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--news">News</div>
              <h3 class="box-grid__title"><a href="#">Is Russia interfering in the U.S. election?</a></h3>
              <div class="box-grid__body">
                <p>What we need to know about the economics of climate change</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-grid__item box-grid__two-by-two">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/287?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--public">Public</div>
              <h3 class="box-grid__title"><a href="#">Where Should America Store its Nuclear Waste?</a></h3>
              <div class="box-grid__body">
                <p>Is Russia interfering in the U.S. election?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-grid">
        <div class="box-grid__item box-grid__one-by-small">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/282/574?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/200/400?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--research">Research</div>
              <h3 class="box-grid__title"><a href="#">What we need to know about the economics of climate change</a></h3>
              <div class="box-grid__body">
                <p>When Barack Obama became the first sitting U.S</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box-grid__item box-grid__one-by-large">
          <div class="box-grid__item__inner bg--stanford-beige10">
            <div class="box-grid__image">
              <picture>
                <source
                  media="{{ desktop }}"
                  srcset="https://unsplash.it/568/574?random">
                <source
                  media="{{ tablet }}"
                  srcset="https://unsplash.it/400/400?random">
                <img
                  src="https://unsplash.it/384/200?random"
                  alt="fsird image">
              </picture>
            </div>
            <div class="box-grid__group">
              <div class="box-grid__type type type--event">Event</div>
              <h3 class="box-grid__title"><a href="#">When Barack Obama became the first sitting U.S</a></h3>
              <div class="box-grid__body">
                <p>What we need to know about the economics of climate change</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
