{% block boxVideo  %}
<div class="box-video list-in-article bg--white">
  <div class="container">
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="youtube-video" src="https://www.youtube.com/embed/lWA2pjMjpBs?enablejsapi=1&version=3&playerapiid=ytplayer" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Youtube video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="youtube-video" src="https://www.youtube.com/embed/lWA2pjMjpBs?enablejsapi=1&version=3&playerapiid=ytplayer" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Youtube video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="youtube-video" src="https://www.youtube.com/embed/lWA2pjMjpBs?enablejsapi=1&version=3&playerapiid=ytplayer" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Youtube video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
  </div>
</div>

<div class="box-video list-in-article bg--cardinal">
  <div class="container">
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="vimeo-video" src="https://player.vimeo.com/video/34650705" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540-2.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Vimeo video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="vimeo-video" src="https://player.vimeo.com/video/34650705" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540-2.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Vimeo video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap js-play-video">
        <iframe class="vimeo-video" src="https://player.vimeo.com/video/34650705" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="video-wrap__poster">
          <span class="video-wrap__icon icon-play"></span>
          <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540-2.jpg" alt="Image">
        </div>
      </div>
      <h2 class="small-title">Vimeo video sagittis elit eu</h2>
      <div class="box-video__body">
        <p>FSI Event raesent dapibus, neque id cursus faucibus.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
