{% set tabs = [
  {
    'tablink' : 'About Our Research'
  },
  {
    'tablink' : 'Center for International Security and Cooperation'
  },
  {
    'tablink' : 'Walter H. Shorenstein Asia-Pacific Research Center'
  },
  {
    'tablink' : 'The Europe Center'
  }
]
%}
{% set tabcontent = [
  {
    'title' : 'About Our Research',
    'body' : 'FSI researchers strive to understand how countries relate to one another, and what policies are needed to achieve global stability and prosperity. International relations experts focus on the challenging U.S.-Russian relationship, the alliance between the U.S. and Japan and the limitations of America’s counterinsurgency strategy in Afghanistan. Foreign aid is also examined by scholars trying to understand whether money earmarked for health improvements reaches those who need it most. ',
    'link' : 'See All Publications',
    'listImages': [
      {
        'position' : 'odd',
        'text': "China's strategy in the South China Sea",
        'typename': 'type--public',
        'type': 'publication',
        'imgdeskwide' : 'https://unsplash.it/512/300?random',
        'imgdesk' : 'https://unsplash.it/450/230?random',
        'imgtab' : 'https://unsplash.it/600/300?random',
        'imgmob' : 'https://unsplash.it/768/410?random'
      },
      {
        'position' : 'even',
        'text': "China's strategy in the South China Sea",
        'typename': 'type--news',
        'type': 'news',
        'imgdeskwide' : 'https://unsplash.it/512/300?random',
        'imgdesk' : 'https://unsplash.it/450/230?random',
        'imgtab' : 'https://unsplash.it/600/300?random',
        'imgmob' : 'https://unsplash.it/768/410?random'
      },
      {
        'position' : 'odd',
        'text': "China's strategy in the South China Sea",
        'typename': 'type--event',
        'type': 'event',
        'imgdeskwide' : 'https://unsplash.it/512/300?random',
        'imgdesk' : 'https://unsplash.it/450/230?random',
        'imgtab' : 'https://unsplash.it/600/300?random',
        'imgmob' : 'https://unsplash.it/768/410?random'
      },
      {
        'position' : 'even',
        'text': "China's strategy in the South China Sea",
        'typename': 'type--research',
        'type': 'research',
        'imgdeskwide' : 'https://unsplash.it/512/300?random',
        'imgdesk' : 'https://unsplash.it/450/230?random',
        'imgtab' : 'https://unsplash.it/600/300?random',
        'imgmob' : 'https://unsplash.it/768/410?random'
      }
    ]
  },
  {
    'title' : 'Center for International Security and Cooperation',
    'body' : 'Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
    'listText' : 'vertical-tabs__buttons',
    'listButton': [
      {
        'btnText' : 'Governance'
      },
      {
        'btnClass' : 'btn--solid-crimson',
        'btnText' : 'Internal Relations'
      },
      {
        'btnClass' : 'btn--outline-black',
        'btnText' : 'Health & Medicine'
      },
      {
        'btnText' : 'International Development'
      },
      {
        'btnClass' : 'btn--outline-black',
        'btnText' : 'Security'
      },
      {
        'btnClass' : 'btn--solid-crimson',
        'btnText' : 'Energy'
      }
    ]

  },
  {
    'title' : 'Walter H. Shorenstein Asia-Pacific Research Center',
    'body' : 'Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
    'link' : 'See All Publications'
  },
  {
    'title' : 'The Europe Center',
    'body' : 'Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
    'link' : 'See All Publications'
  },
]
%}

{% block fsirdTabs %}
  <div class="distance-component fsird-tabs vertical-tabs bg--stanford-beige10">
    <div class="container">
      <h2 class="fsird-tabs__title text--center font--biggest">Research</h2>
      <div class="fsird-tabs__description text--center"><p>Research happens here raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat rtam duimi  tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p></div>
      <ul class="fsird-tabs__list">
        <div class="fsird-tabs__dropdown__text js-fsird-tabs__dropdown">About Our Research</div>
        <div class="fsird-tabs__list__dropdown">
          {% for link in tabs%}
            {% if loop.index == 1 %}
              {% set isActive = "active" %}
            {% else %}
              {% set isActive = "" %}
            {% endif %}
            <li class="fsird-tabs__list__item js-fsird-tabs__list__item {{ isActive }}" data-index="{{ loop.index - 1 }}"><span>{{ link.tablink }}</span></li>
          {% endfor %}
        </div>
      </ul>
      <div class="fsird-tabs__section">
        {% for itemTabs in tabs%}
          {% if loop.index == 1 %}
            {% set isActive = "active" %}
          {% else %}
            {% set isActive = "" %}
          {% endif %}
          <div class="fsird-tabs__content  {{ isActive }}">
            <h3 class="vertical-tabs__title">{{ tabcontent[loop.index - 1].title }}</h2>
            <div class="vertical-tabs__body">
              <p>{{ tabcontent[loop.index - 1].body }}</p>
            </div>
            {% if tabcontent[loop.index - 1].link  is not empty %}
              <a href="#" class="btn btn--responsive">{{ tabcontent[loop.index - 1].link }}</a>
            {% endif %}
            <div class="vertical-tabs__list {{ tabcontent[loop.index - 1].listText }}">
              {% for item in tabcontent[loop.index - 1].listImages %}
                <div class="vertical-tabs__item {{ item.position }}">
                  <a href="#">
                    <div class="vertical-tabs__image">
                      <picture>
                        <source
                          media="{{ desktop_wide }}"
                          srcset="{{ item.imgdeskwide }}">
                        <source
                          media="{{ desktop }}"
                          srcset="{{ item.imgdesk }}">
                        <source
                          media="{{ tablet }}"
                          srcset="{{ item.imgtab }}">
                        <img
                          src="{{ item.imgmob }}"
                          alt="fsird image">
                      </picture>
                    </div>
                  </a>
                  <div class="vertical-tabs__text">
                    <span class="type {{ item.typename }}">{{ item.type }}</span>
                    <a href="#"><span class="vertical-tabs__subtitle">{{ item.text }}</span></a>
                  </div>
                </div>
              {% endfor %}
              {% for item in tabcontent[loop.index - 1].listButton %}
                <div class="vertical-tabs__buttons__item">
                  <a href="#" class="btn {{ item.btnClass }}">{{ item.btnText }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
