{% set textBlock = {
  'imageDesktop': '1440x350/text-block-desktop.jpg',
  'imageMobile': '768x432/text-block-mobile.jpg',
  'title' : 'FSI on Russia Hacking: Did Putin Decide the US Election?',
  'body' : '<p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p><p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p><ul><li>Nulla porttitor accumsan tincidunt</li><li>Nulla porttitor accumsan tincidunt</li><li>Nulla porttitor accumsan tincidunt</li></ul><p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p><p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p><p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p>',
}
%}

<div class="text-block text-block--has-image">
  <div class="text-block__image">
    <picture>
      <source
        media="{{ tablet }}"
        srcset="{{ img_path }}{{ textBlock.imageDesktop }}">
      <source
        media="{{ mobile }}"
        srcset="{{ img_path }}{{ textBlock.imageMobile }}">
      <img
        src="{{ img_path }}{{ textBlock.imageMobile }}"
        alt="Compact hero image">
    </picture>
  </div>
  <div class="text-block__content container bg--white">
    <h2 class="big-title">{{ textBlock.title }}</h2>
    <div class="text-block__body">{{ textBlock.body }}</div>
  </div>
</div>

<div class="text-blocks">
  <div class="text-block__content container bg--white">
    <h2 class="big-title">{{ textBlock.title }}</h2>
    <div class="text-block__body">{{ textBlock.body }}</div>
  </div>
</div>
