<div class="grc-2__item js-item">
  <div class="grc-2__image">
    <a href="{{ grc2Item.url }}">{{ grc2Item.image }}</a>
  </div>
  <div class="grc-2__content">
    <div class="grc-2__meta">
      <time class="grc-2__date">{{ grc2Item.date }}</time>
      <span class="grc-2__type">{{ grc2Item.type }}</span>
    </div>
    <h4 class="grc-2__title"><a href="{{ grc2Item.url }}">{{ grc2Item.title }}</a></h4>
  </div>
</div>
